<header class="p-3 bg-dark text-white">
  <div class="container">
    <div
      class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start"
    >
      <a
        href="/"
        class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none"
      >
        <img src="../../../assets/img/rick.jpg" alt="Rick" class="image" />
      </a>

      <ul
        class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0"
      >
        <li>
          <a
            routerLink="/"
            routerLinkActive="active"
            class="nav-link px-2 text-white"
            >Character</a
          >
        </li>
        <li>
          <a
            routerLink="/location"
            routerLinkActive="active"
            class="nav-link px-2 text-white"
            >Location</a
          >
        </li>
        <li>
          <a
            routerLink="/episode"
            routerLinkActive="active"
            class="nav-link px-2 text-white"
            >Episode</a
          >
        </li>
        <li>
          <a
            href="https://rickandmortyapi.com/"
            target="_blank"
            class="nav-link px-2 text-white"
            >API</a
          >
        </li>
      </ul>
      <div class="text-end">
        <ng-container *ngIf="currentUserName; else loginBlock">
          <span class="me-2">Olá, {{ currentUserName }}</span>
          <button
            type="button"
            class="btn btn-outline-light me-2"
          >
            Logout
          </button>
        </ng-container>
        <ng-template #loginBlock>
          <button
            type="button"
            class="btn btn-outline-light me-2"
            routerLink="/login"
            routerLinkActive="active"
          >
            Login Com Github
          </button>
          <button type="button" class="btn btn-warning">
            Sign-up
          </button>
        </ng-template>
      </div>
    </div>
  </div>
</header>
<router-outlet></router-outlet>
