<div class="input">
  <input
    class="form-control"
    id="name"
    placeholder="Type to search..."
    type="text"
    placeholder="Search..."
    (keyup)="onSearch($event)"
  />
</div>

<div
  class="container"
  infiniteScroll
  [infiniteScrollDistance]="2"
  [infiniteScrollThrottle]="50"
  (scrolled)="onScroll()"
>
  <div
    class="row row-cols-1 row-cols-md-2 g-4"
    *ngFor="let episodes of filteredEpisodes"
  >
    <div class="col">
      <div class="card">
        <img
          src="../../../assets/img/morty.jpg"
          class="card-img-top"
          alt="..."
        />
        <div class="card-body">
          <h5 class="card-title">{{ episodes.name }}</h5>
          <p class="card-text">
            {{ episodes.air_date }}
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
