<div class="container">
  <div class="card" style="width: 18rem" *ngIf="character">
    <img [src]="character.image" class="card-img-top" alt="..." />
    <div class="card-body">
      <h5 class="card-title">{{ character.name }}</h5>
      <p
        class="card-text"
        [ngClass]="{
          'text-success': character.status === 'Alive',
          'text-danger': character.status === 'Dead',
          'text-warning': character.status === 'unknown'
        }"
      >
        <b>Status : {{ character.status }}</b>
      </p>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">{{ character.location.name }}</li>
      <li class="list-group-item">{{ character.species }}</li>
      <li class="list-group-item">{{ character.type }}</li>
    </ul>
  </div>
</div>
