<div class="btn">
  <button class="btn btn-dark" (click)="filterAlive()">Alive</button>
  <button class="btn btn-dark" (click)="filterDead()">Dead</button>
  <button class="btn btn-dark" (click)="resetFilter()">Reset</button>
  <button class="btn btn-dark" (click)="filterUnknown()">Unknown</button>
</div>
<div
  class="container"
  infiniteScroll
  [infiniteScrollDistance]="2"
  [infiniteScrollThrottle]="2000"
  (scrolled)="onScroll()"
>
  <div class="card" style="width: 14rem" *ngFor="let characters of character">
    <img src="{{ characters.image }}" class="card-img-top" alt="..." />
    <div class="card-body">
      <h5 class="card-title">
        <a
          [routerLink]="['/details', characters.id]"
          class="text-decoration-none"
          >{{ characters.name }}</a
        >
      </h5>
      <b class="card-text">
        <span
          [ngClass]="{
            'text-success': characters.status === 'Alive',
            'text-danger': characters.status === 'Dead',
            'text-warning': characters.status === 'unknown'
          }"
        >
          {{ characters.status }}
        </span>
        - {{ characters.species }}
      </b>
      <p class="card-text">
        Last known location: {{ characters.location.name }}
      </p>
    </div>
  </div>
</div>
