<div class="container">
  <div class="card" style="width: 14rem" *ngFor="let characters of character">
    <img src="{{ characters.image }}" class="card-img-top" alt="..." />
    <div class="card-body">
      <h5 class="card-title">{{ characters.name }}</h5>
      <p class="card-text">
        <span
          [ngClass]="{
            'text-success': characters.status === 'Alive',
            'text-danger': characters.status === 'Dead',
            'text-warning': characters.status === 'unknown'
          }"
        >
          {{ characters.status }}
        </span>
        - {{ characters.species }}
      </p>
      <p class="card-text">
        Last known location: {{ characters.location.name }}
      </p>
    </div>
  </div>
</div>
