.input{
  margin-top: 20px;
}

.input input {
  display: block;
  margin: 0 auto;
  width: 25%;
}

.container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.card {
  margin: 16px;
}

a:hover {
  color: green;
}

a {
  color: black;
}

.btn {
  display: flex;
  justify-content: center;
  margin: 10px;
  border-radius: 20%;
}
