/* .select {
  padding: 20px;
  width: 200px;
} */

.container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.card {
  margin: 16px;
}

a:hover {
  color: green;
}

a {
  color: black;
}

.btn {
  display: flex;
  justify-content: center;
  margin: 10px;
  border-radius: 20%;
}
